<h3>Put the question and options here: </h3>

<br>

<a href="">Cancel</a>
<br>
<br>



<form ng-submit="createPoll()">
	

Question: <input type="text" ng-model="newPoll.question"> <br><br>
Option 1: <input type="text" ng-model="newPoll.option1"><br><br>
Option 2: <input type="text" ng-model="newPoll.option2"><br><br>
Option 3: <input type="text" ng-model="newPoll.option3"><br><br>
Option 4: <input type="text" ng-model="newPoll.option4"><br><br>
<button type="submit">Create Poll</button>


</form>